*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container-form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container-form .formulario{
    margin: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container-form .formulario .button-submit{
    padding: 15px;
    border-radius: 20px;
}